# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Research Computing and Data Workshop
author: Linh Ngo
logo: logo.png

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: force
  exclude_patterns:
    - 'pytorch/*.ipynb'
    - 'python_programming/03-IntroToPython-III.ipynb'
    - 'python_programming/04-IntroToPython-IV.ipynb'
    - 'python_sklearn/*.ipynb'
    - 'pytorch_advanced/*.ipynb'

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/clemsonciti/rcde_workshops  # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)

html:
  extra_footer:
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"></a>
    <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Research Computing and Data Workshops</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.

sphinx:
  config:
    html_show_copyright: false
    html_js_files:
    - https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.4/require.min.js

only_build_toc_files: true