torch==2.4.1
torchvision==0.19.1
lightning==2.5.0.post0
torchmetrics==1.4.2
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
tqdm==4.66.5
wandb==0.18.3
pyyaml==6.0.1
filelock==3.13.1
ipykernel>=6.28.0
jupyterlab>=4.2.5
notebook>=7.2.2
